<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 
    <appSettings>
      <add key="DB_NAME" value="KeySystem"/>
      <add key="DB_SOURCE" value="iot-juicers.database.windows.net"/>
      <add key="DB_USER_ID" value="Juicer"/>
      <add key="DB_PASSWORD" value="Tropicana01"/>
    </appSettings>

</configuration>